@using Orchard.Utility.Extensions;
@{
    if (Model.Title != null) {
        Layout.Title = Model.Title;
    }

    Style.Include("posts.css");
    var pageClass = (string) Model.ContentItem.BlogPostPart.Category.Value;
    var thumbnail = (string)Model.ContentItem.BlogPostPart.FeaturedThumbnail.MediaParts[0].MediaUrl;
    Layout.PageClass = !string.IsNullOrWhiteSpace(pageClass) ? pageClass.ToLower() : string.Empty;
    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
}
<article class="content-item @contentTypeClassName">
    <header>
        <div class="grid">
            <div class="item @pageClass">
                <img width="181" height="181" src="@Url.Content(thumbnail)" alt="" title="" />
            </div>
        </div>
        @Display(Model.Header)
        @if (Model.Meta != null) {
            <div class="metadata">
                @Display(Model.Meta)
            </div>
        }
    </header>
    @Display(Model.Content)
    @if(Model.Footer != null) {
    <footer>
        @Display(Model.Footer)
    </footer>
    }
</article>