@using Orchard.ContentManagement

@if(Model.Items != null) {
    <div class="grid">
        @foreach (var post in Model.Items) {
            var blogPostPart = post.ContentItem.BlogPostPart;
            var img = blogPostPart.FeaturedThumbnail;
                <div class="item @blogPostPart.Category.Value rollable">
					<img width="181" height="181" src="@Url.Content(img.MediaParts[0].MediaUrl)" alt="" title="" />
                    <div class="caption" style="display: none;">
                        <h3>@blogPostPart.Title</h3>
                        <p>@blogPostPart.FeaturedThumbnailCaption.Value</p>
                        <a class="button" href="@Url.ItemDisplayUrl((ContentItem)post.ContentItem)">Read More</a>
                    </div>
                </div>                 
        }
    </div>  
 <div class="clear"/>
}

